
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .searchIconCss{
    border-radius: 10px 0 0 0; 
    border-color:#57B657 !important;
    background-color:#57B657;
  }

  .searchInputCss{
    border-radius: 0 0 10px 0;
    border-color:#57B657;
  }